body {
    background-color: cadetblue;
    margin-bottom: 5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    min-width: 500px;
}

nav ul li {
     display: inline-block;
}

nav ul li a {
    padding: 10px;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
nav a:hover {
     color: black;
     background-color: lightgreen;

}
h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-slide {
    background-image: url('zintle.jpg');
    background-size: cover;
    height: 100vh;
}
.portfolio-slide p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portfolio-slide a {
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.profile_pic {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: crimson;
}

.profile_pic img{
    width: 400px;
    height: 400px;
    padding: 10px 20px 20px 20px;
}

.portfolio {
    text-align: center;
    color: crimson;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.content img {
    width: 100px;
    height: 100px;
    padding-top: 20px;
}

.content img:hover {
  color: white;
  background-color: lightgreen;
}

.collapsible {
    background-color:lightgrey;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .active, .collapsible:hover {
    background-color: lightgreen;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .contact a {
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: lightgreen;
    color: black; 
    font-size: 17px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgba(245, 222, 179, 0.76);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .social-media img {
    height: 30px;
    width: 30px;
    padding: 20px 10px 20px 10px;
} 

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: rgba(0, 0, 205, 0.623);
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
